<div class="row">
  <div class="col-9 cards">
    <div class="card shadow" *ngFor="let note of notes">
      <div class="card-header">
          <h2 class="card-title">{{ note.title }}</h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{ note.content }}</p>
      </div>
    </div>
  </div>
  <form action="" class="col-3" name="new-note">
    <div class="form-group">
        <label for="note-title">Note Title</label>
        <input class="form-control" name="note-title" type="text" [(ngModel)]="noteTitle">
    </div>
    <div class="form-group">
        <label for="note-content">New Note</label>
        <textarea class="form-control" name="note-content" cols="30" rows="10" [(ngModel)]="noteContent"></textarea>
    </div>
    <button type="button" (click)="addNote()">Create Note</button>
  </form>
</div>