.cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  height: 250px;
}

.card-title{
  text-align: left;
  font-size: 22px;
}

.card-header{
  background-color: #FFF7B8;
}

.card-body{
  text-align: left;
  overflow-y: scroll;
  background-color: #FFFBDA;
}
